/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

// Body wrap for sticky footer
.wrap {
	min-height: calc(100vh - 247.8px);
}

.hide {
 	opacity: 0;
}

.callout {
	transition: all 2s linear;
	transition: all 2s linear;
	opacity: 1;
}

*:focus {
    outline: 0; //Universally removes outline for design purposes, but remains for accessibility 
}

/*********************
LINK STYLES
*********************/

a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

.button.hollow {
	border: 2px solid;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	&:hover {
		background-color: $primary-color;
		color: $white;
	}
}

.button.hollow.white {
	border-color: $white;
	color: $white;
	&:hover {
		background-color: $white;
		color: $black;
	}
}

.popup-button {
	background-color: $black;
	color: $white;
	border-radius: 50px;
	width: 45px;
	height: 45px;
	font-size: 2em;
	font-family: "karmina-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
	&:hover {
		color: $primary-color;
		transition: color 0.25s ease-out;
	}
	// &:active {
	//     -ms-transform: rotate(45deg); /* IE 9 */
	//     -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	//     transform: rotate(45deg);
	// }
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-weight: 700;
}

h2, .h2 {
	font-weight: 700;
	color: $primary-color;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3, .h3 {
	text-transform: uppercase;
	color: $primary-color;
	letter-spacing: 1px;
	font-weight: 700;
}

h4, .h4 {
	// font-size: 1.3rem;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	font-weight: 700;
	color: $primary-color;
}

h5, .h5 {
	color: $medium-gray;
	font-family: 'roboto-slab';
	line-height: 1;
	margin-bottom: 0;
}

p.light {
	color: $white;
}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
img.logo {
    width: 150px;
}

.top-bar {
	z-index: 1;
	padding: 0.5 1rem;
	background-color: $black;
	/* Medium and up */
	@media screen and (min-width: 40em) {
		padding: 1.25rem;
		background-color: transparent;
	}
	.title-area {
		// z-index: 1;
	}
	.top-bar-left, .top-bar-right {
		width: auto;
	}
} 

button.menu-sb {
		// display: inline-block;
		width: 50px;
		height: 50px;
		// margin: 2rem;
		// text-align: center;
		background-color: $black;
		border-radius: 50px;
		cursor: pointer;
		img {
			padding: 2px;
		}
		&:hover {
			background-color: transparent;
		}
		a {
			line-height: 1;
			&:hover, &:active {
				border-bottom: none;
			}
			img {
				max-height: 50px;
			}
		}
}


.menu-icon-bg {
	background-color: $black;
	padding: .75rem 1rem;
	border-radius: 100px;
}

.menu-icon {

}

.contact-button {
	margin-right: 1rem;
}

.button.hollow.contact-button {
	border-color: $black;
    color: $black;
    letter-spacing: 1px;
    &:hover {
    	background-color: $black;
    	color: $white;
    }
}

.off-canvas {
	opacity: 0.97;
	ul {
		li {
			a {
				color: $white;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 2rem;
				letter-spacing: 1px;
				line-height: 2;
			}
			/* Medium and up */
			@media screen and (min-width: 40em) {
				a:hover {
					border-bottom: 2px dashed $success-color;
				}
			}
		}
	}
}

#off-canvas {
	max-width: 100%;
	.off-canvas-padding, .off-canvas-social {
		padding: 10%;
	}
	/* Medium and up */
	@media screen and (min-width: 40em) {
		max-width: 650px;
		.off-canvas-padding {
			padding: 15%;
		}
	}
}

.js-off-canvas-overlay.is-visible {
	opacity: 0.4;
}

.menu {
	.active {
		a {
			border-bottom: 2px dashed $success-color;
		}
	}
}



.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

#off-canvas-contact, .social-links-sb {
	text-align: center;
	ul {
		display: block;
		margin-left: 0;
		list-style-type: none;
	}

	li {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 2rem;
		text-align: center;
		background-color: $primary-color;
		border-radius: 50px;
		&:hover {
			background-color: transparent;
		}
		a {
			line-height: 1;
			&:hover, &:active {
				border-bottom: none;
			}
			img {
				max-height: 50px;
				padding: 2px;
			}
		}
	}
}

.contact-details, .contact-details a{
	text-align: center;
	color: $dark-gray;

	img {	
		margin: 20px 20px 20px 0; 
	}
	.email-img {
		max-height: 15px;
	}
	.tel-img {
		max-height: 22px;
	}
}
// SIGNAL US OFF-CANVAS TOGGLE

.signal-offcanvas {
	top: 400px;
	height: 0;
}

#signal-toggle-container {
	background-color: $black;
	border-radius: 50px;
	width: 100px;
	min-height: 50px;
	position: relative;
	left: -50px;
	text-align: right;
	margin-top: 0;

	button.signal-icon {
		text-align: right;
		cursor: pointer;
		img {
			max-width: 30%;
			margin: 1em;
			display: none;
		}
	}
}


/*********************
SIGNAL US OFF CANVAS STYLES
*********************/
#signal-canvas {
	text-align: center;
	padding: 1.75rem 2rem;
	height: 100%;
	max-width: 100%;
	
	/* Medium and up */
	@media screen and (min-width: 40em) {
		width: 500px;
	}
	
	h2 {
		margin-bottom: 1rem;
	}

	p.intro {
		color: $medium-gray;
		margin-bottom: 1rem;
		span {
			font-style: italic;
			color: $primary-color;
		}
	}

	h4 {
		color: $success-color;
		span {
		font-size: 1.25rem;
		font-family: 'karmina-sans';
		font-style: italic;
		color: $medium-gray;
		}
	}



	em {
		// color: $secondary-color;
		padding-bottom: 2rem;
		font-size: 90%;
	}
}

.lightbulb-icon {
	text-align: center;
	margin: 0 auto 1em;
	max-width: 40px;
    position: relative;
    overflow: hidden;
}

//hover behavior
.lightbulb-icon img:last-child {
	display: none;
}
.lightbulb-icon:hover img:first-child {
	display: none;
}
.lightbulb-icon:hover img:last-child {
	display:inline-block;	
}



/*********************
HOMEPAGE STYLES
*********************/

/** HERO ANIMATION **/

#hero-container {
	background-color: $primary-color;
	background: url('../images/home-3@2x.jpg') no-repeat 50% 50%;
	background-size: cover;
	width: 100%;
	min-height: 265px;
	/* Medium and up */
	@media screen and (min-width: 40em) {
	margin-top: -10em;
	}
}

.animation-parent {
	width: 99%;
	padding-top: 2rem;
	/* Large and up */
	@media screen and (min-width: 64em) {
		width: 75%;
		padding-top: 3rem;
	}
	margin: 0 auto;
}

#bodymovin{
    background-color: transparent;
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    margin: auto;
	// position: relative;
	// top: -50px;
}

.botas_loop_3,.botas_loop_2{
    display:none
}

// BUTTONS AFTER ANIMATION

.hero-buttons {
	text-align: center;
	padding: 0 0 1rem;
	.button {
		margin-right: .5rem;
		border: 2px solid $success-color;
		/* Large and up */
		@media screen and (min-width: 64em) {
			margin-right: 4rem;
		}
		font-weight: 700;
		text-transform: uppercase;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
		background-color: transparent;
		border: 2px solid $success-color;
		}
	}
}

.hero-headline {
	padding: 1rem auto;
	text-align: center;
	h4 {
		color: $white;
	}
	img {
		height: 55px;
	}
}

.h4-hero {
	opacity: 0;
	animation: show 1s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 8s;
}

.service-button-icons {
	height: 25px;
	margin-right: 1rem;
}

.button.small.success.data-button,
.button.small.success.voice-button,
.button.small.success.cloud-button {
	opacity: 0;
	animation: show 2s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes show {
    100% {
        opacity: 1;
    }
}



.button.small.success.data-button {
	// position: absolute;
	//    top: 14%;
	// right: 40%;
	animation-delay: 6s;
}
.button.small.success.cloud-button {
	// position: absolute;
	//    top: 18%;
	// right: 30%;
	animation-delay: 7s;
}
.button.small.success.voice-button {
	// position: absolute;
	//    top: 18.75%;
	// right: 16%;
	animation-delay: 8s;
}

/** BOUNCING MOUSE **/
.mouse-scroll {
		// background: url('../images/mouse-scroll-icon@2x.png') no-repeat;
		// background-position: 50% 50%;
		// background-size: 10%;
		// height: 100px;
		margin: 1rem auto;
		// bottom: 0;
		-moz-animation: bounce 2s 2;
		-webkit-animation: bounce 2s 2;
		animation: bounce 2s 2;
		animation-delay: 8s;
	}

	@keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {
	    transform: translateY(0);
	    -moz-transform: translateY(0);
	    -webkit-transform: translateY(0);
	  }
	  40% {
	    transform: translateY(-30px);
	    -moz-transform: translateY(-30px);
	    -webkit-transform: translateY(-30px);
	  }
	  60% {
	    transform: translateY(-15px);
	    -moz-transform: translateY(-15px);
	    -webkit-transform: translateY(-15px);
	  }
	}



/** SECTIONS **/

section#home-content {
	text-align: center;
	margin: 5rem auto;
	.row {
	}
	h3 {
		font-weight: 300;
		font-size: 2rem;
		color: $black;
		text-transform: lowercase;
		span {
			color: $primary-color;
			font-style: italic;
		}
	}
	h6 {
		font-size: 1.15rem;
	}
	.lead {
		font-size: 150%;
	}
	.mid-div-line {
		text-align: center;
		img {
		max-width: 43%;
		}
	}
	.content-icon {
		margin-bottom: 1rem;
	}
	.technology-people {
		margin-bottom: 2rem;
		img {
			max-height: 80px;
			/* Medium and up */
			@media screen and (min-width: 40em) {
				max-height: 170px;
			}
		}
	}
	.technology-solutions {
		margin-top: 2rem;
		img {
			max-width: 150px;
			/* Medium and up */
			@media screen and (min-width: 40em) {
				max-width: 250px;
			}
		}
	}
}


	.home-squad-container {
		padding: 3em 3em;
		background: url('../images/teal-pattern.png');
		background-size: contain;

		text-align: center;
		/* Medium and up */
		@media screen and (min-width: 40em) {
			text-align: left;
			height: 500px;
		}

		.home-team-img {
			    max-width: 400px;
			    max-height: 400px;
			    position: relative;
			    overflow: hidden;
			    border-radius: 50%;
			    background-color: #0A9893; // darker teal
				img {
				// background-color: $light-gray;
					border-radius: 100%;
					padding: 2rem 0 0;
				}
		}

		.your-face-img {
			max-width: 400px;
			    max-height: 400px;
			    position: relative;
			    overflow: hidden;
			    border-radius: 50%;
			    background-color: $light-gray; // darker teal
				img {
				// background-color: $light-gray;
					border-radius: 100%;
					padding: 2rem 0 0;
				}
		}


		h4 {
			color: $success-color;
			margin-top: 3rem;
		}
		h3 {
			color: white;
			font-style: italic;
			text-transform: none;
			font-weight: 300;
			line-height: 1;
			// margin-bottom: 0;
		}
		h6 {
			color: white;
			font-style: italic;
			text-transform: lowercase;
			line-height: 1;
			margin-bottom: 1rem;
		}
		.orbit {
			margin-bottom: 1rem;
		}
		.orbit-container {
			background-color: $success-color;
			border-radius: 35px;
			// min-height: 150px;
			height: auto !important;
			/* Medium and up */
			@media screen and (min-width: 40em) {
				border-radius: 100px;
				// max-height: 130px;
			}
			.orbit-slide {
				text-align: center;
				padding: 2rem 3rem;
				h6 {
					color: $black;
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 1px;
					font-style: normal;
				}
			}

		}
		p.lead {
			font-weight: 300;
			color: white;
			span {
				color: $success-color;
				font-style: italic;
			}
		}
	}


section#home-posts {
	padding-top: 2rem;
	.article-header-feed {
		text-align: center;
		h5.title {
		text-transform: uppercase;
		font-weight: bold;
		color: $black;
		margin-top: 1rem;
			a {
				color: $black;
			}
		}
	}
	#home-post-feed {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}

div.featured-image {
	overflow: hidden;
	display: inline-block;
	max-height: 250px;
	background: $secondary-color;

	.image-hover {
		-moz-transition: all .5s; 
	    -webkit-transition: all .5s;  
	    -ms-transition: all .5s;  
	    -o-transition: all .5s;  
	    transition: all .5s; 
	    opacity:1;
	    filter:alpha(opacity=100);
	}
	.image-hover:hover {
	    opacity:0.2;
	    filter:alpha(opacity=20);
	}

}

section#home-newsletter {
	text-align: center;
	padding: 3rem 1rem 5rem;
	background: url( '../images/mouse-icon@2x.png' ) 80% center;
	background-repeat: no-repeat;
	background-size: contain;
}

/*********************
PAGE STYLES
*********************/

// TESTIMONIALS FOOTERS
.testimonials {
	padding: 0 10% 2%;
	color: white;
	text-align: center;
	a {
		color: $white;
	}
	p {
		font-size: 125%;
		font-style: italic;
	}
}

#testimonial-sidebar {
	width: 100%;
    margin-bottom: 2rem;
}

.about-footer {
	background-color: $secondary-color;
}

.solutions-footer {
	background-color: $secondary-color;
}

// TESTIMONIAL STYLES
.test-thumb-wrapper {
	background-color: primary-color;
	padding: 1rem;
	border-radius: 50px;
}
.test-thumb {
	max-width: 200px;
	// width: auto;
	position: relative;
	top: -30px;
	background-color: $secondary-color;
	padding: 0 1.5rem;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
}


// ABOUT PAGE
#mission-vision {
	padding: 10% 10%;
}

#culture {
	padding: 0 10% 10%;
}



// SOLUTIONS PAGE

.solutions-tab-section {
	background-color: $light-gray;
	padding: 4rem 2rem;
	h3 {
		text-align: center;
		color: $dark-gray;
		font-family: 'roboto-slab';
		font-weight: 400;
		margin-bottom: 2rem;
		@media screen and (min-width: 40em) {
			font-size: 22px;
		}
	}
	.tabs {
		background: transparent;
		border: none;
	}
	.tabs-title {
		// width: 33.3333%;
		text-align: center;
	}
	.tabs-title > a {
		color: $black;
		text-transform: uppercase;
		font-weight: 700; 
		font-size: 110%;
		letter-spacing: .5px;
		background: $success-color;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
	}
	.tabs-title > a:focus {
		background: $white;
	}
	.is-active.tabs-title {
		a {
			color: $primary-color;
		}

	}
	.tabs {
		margin-top: 3.5rem;
	}
	.tabs-content {
		border-radius: 0 15px 15px;
	}
	.tabs-panel {
		padding: 2rem;
	}
	h5 {
		color: $medium-gray;
		margin-bottom: .5rem;
	}

}

//ROUNDED CORNERS MARKUP
.tabs li { 
  /* Makes a horizontal row */
  float: left; 
	
  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative; 
}
.tabs a { 
  /* Make them block level
     and only as wide as they need */
  float: left; 
  padding: 10px 60px; 
  text-decoration: none;
  
  /* Default colors */ 
  color: $black;
  background: $success-color; 
  
  /* Only round the top corners */
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}
.tabs .is-active {
  /* Highest, active tab is on top */
  z-index: 3;
}
.tabs .is-active a { 
  /* Colors when tab is active */
  background: $white; 
  color: $black; 
}
.tabs li:before, .tabs li:after, 
.tabs li a:before, .tabs li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
   tabs need pseudo elements at all */
.tabs li:last-child:after,   .tabs li:last-child a:after,
.tabs li:first-child:before, .tabs li:first-child a:before,
.tabs .is-active:after,   .tabs .is-active:before, 
.tabs .is-active a:after, .tabs .is-active a:before {
  content: "";
}


.tabs li:first-child:before {
  content: none;
}

.tabs .is-active:before, .tabs .is-active:after {
  background: $white; 
  
  /* Squares below circles */
  z-index: 1;
}
/* Squares */
.tabs li:before, .tabs li:after {
  background: $success-color;
  width: 10px;
  height: 10px;
}
.tabs li:before {
  left: -10px;      
}
.tabs li:after { 
  right: -10px;
}
/* Circles */
.tabs li a:after, .tabs li a:before {
  width: 20px; 
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  background: $light-gray;
  
  /* Circles over squares */
  z-index: 2;
}
.tabs .is-active a:after, .tabs .is-active a:before {
  background: $success-color;
}
/* First and last tabs have different
   outside color needs */
.tabs li:first-child.is-active a:before,
.tabs li:last-child.is-active a:after {
  background: $light-gray;
}
.tabs li a:before {
  left: -20px;
}
.tabs li a:after {
  right: -20px;
}

//END ROUNDED CORNERS

.tabs-container {
	max-width: 820px ;
	margin: 0 auto ;
  
  @media only screen and (max-width: 640px) {
    max-width: 620px;
    
  }
}

.accordion-container {
	a.accordion-title::before {
		right: 1rem;
		margin-top: -0.5rem;
	}

	a.accordion-title {
		color: $black;
		text-transform: uppercase;
		font-weight: 700; 
		background: $success-color;
		font-size: 110%;
		letter-spacing: .5px;
	}
	.is-active {
		a.accordion-title {
			color: $primary-color;
		}
		.accordion-title {
			background-color: $white;
		}
		.service-button-icons {
			height: 30px;
		}
	}

	.service-button-icons {
		margin-left: 1rem;
	}
	.accordion-content {
		padding: 2rem;
	}
}

.solutions-content {
	background-color: $light-gray;
	padding: 1rem;
	h2 {
		text-align: center;
	}
	img {
		max-height: 150px;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	img:hover {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}

	.row.solutions-icons {
		margin-bottom: 2rem;
		text-align: center;
		img {
			margin-bottom: 1rem;
		}
	}

	.callout {
		.column-block {
			margin-bottom: 0;
			margin-top: 1rem;
			padding: 1rem;
		}
		h2 {
			padding-left: 1rem;
			font-family: 'roboto-slab';
			font-weight: 400;
			color: $dark-gray;
		}
	}
}



#partners {
	margin: 3rem auto;
	.partner-logo {
		border-radius: 0;
		max-width: 150px;
	}
	.is-active > .accordion-title::before, .accordion-title::before {
		content: '';
	}
}


//SQUAD PAGE
.team-img {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: $light-gray;
	img {
	// background-color: $light-gray;
	border-radius: 100%;
	padding: 2rem 0 0;
	}
}

//hover behavior
.team-img img:last-child {
	display: none;
}
.team-img:hover img:first-child {
	display: none;
}
.team-img:hover img:last-child {
	display:inline-block;	
}

.team-header, .team-content {
	text-align: center;
	margin: 2rem auto;
}

.team-details {
	padding: 1.5em;
	h3 {
		color: $black;
		span {
			text-transform: lowercase;
			font-weight: 300;
			font-style: italic;
			color: $secondary-color;
		}
	}
	h6 {
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1;
		color: $primary-color;
		margin-bottom: 0.15rem;
	}
}

#careers-cta {
	text-align: center;
	padding: 2rem 0;
	background-color: $light-gray;
}

//CODROPS SCRIPT
/*--------------------------Expanding Preview Grid Styles----------------------------*/
body.home.blog #content {
margin:0;
padding:0;
width:100%;
max-width:100%;
}

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 1rem 4rem 3rem;
	vertical-align: top;
	min-height: 400px;
	min-width: 400px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	// position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	// border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	// border-bottom-color: #f2f2f2;
	// border-width: 15px;
	left: 50%;
	// margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #f2f2f2;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 15px 40px 0 20px;
	h3 {
		color: $black;
		padding-bottom: 0;
		span {
			text-transform: lowercase;
			font-weight: 300;
			font-style: italic;
			color: $secondary-color;
			font-size: 50%;
		}
	}
	h5 {
		color: $medium-gray;
		margin-bottom: 1rem;
	}
	h6 {
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1;
		color: $primary-color;
		margin-bottom: 0.15rem;
	}
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 38px;
	// padding: 40px 0 10px;
	margin-bottom: .25em;
	line-height:.5em;
}

.og-details p {
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: $dark-gray;
margin-bottom: 1rem;
	em {
		font-size: 18px;
		letter-spacing: .25px;
	}
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #f2f2f2;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #f2f2f2; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #f2f2f2; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #f2f2f2, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #f2f2f2; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #f2f2f2; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #f2f2f2, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #f2f2f2; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #f2f2f2; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #f2f2f2, -15px 30px 1px #ccc; }
}

/*-------------Home Preview Grid Responsive----------*/

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; margin-top: -26px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) { 
	
	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}


.what-inspires-you {
	/* Medium and up */
	@media screen and (min-width: 40em) {
		h4 {
			margin-top: 6rem;
		}
	}
}

// CAREERS PAGE
.careers-header {
	font-size: 14pt;
}

.where-you-work{

	.work-photo {
		background: url( '../images/love-where-you-work@2x.jpg' );
	    height: 100%;
	    // position: absolute;
	    background-size: cover;
	    box-sizing: border-box;
	    padding: 0;
	}
}


.careers-content-section {
  display: flex;
  flex-wrap: wrap;
  font-size: 16pt;

  .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .careers-content-section-img {
    align-self: center;
    flex: 1 0 100%;

    img {
      width: 100%;
    }

    @media screen and (min-width: 40em) {
      flex: 1 0 50%;
    }
  }

  .careers-content-section-block {
    padding: 2rem;
    flex: 1 0 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: 40em) {
      flex: 1 0 50%;
      padding: 2rem 5rem;
    }
  }
}

.careers-content-section-block-header {
  font-size: 24px;
}

.careers-content-section-block-subheader {
  font-size: 13px;
}

.what-we-give {
	background-color: $light-gray;
	padding: 5rem 2rem 4rem;
	font-size: 14pt;

	h3 {
		text-align: center;
		margin-bottom: 2rem;
	}

	.what-we-give-content-block {
		display: flex;
	  	align-items: center;
	  	flex: 1 0 0;

	  .avatar {
	    // border-radius: 50%;
	    height: rem-calc(60);
	    width: rem-calc(60);
	  }

	  .benefits-title {
	    color: $black;
	    margin-left: 1.25rem;
	    font-size: 1.125rem;
	    font-weight: 700;
	    margin-bottom: 0;
	  }

	  .benefits-details {
	    margin-left: .75rem;
	    margin-bottom: 0;
	    color: $dark-gray;
	    @media screen and (min-width: 40em) {
	     padding-right: 1.5rem;
	     margin-left: 1.5rem;
	    }
	  }
	}
}

#jobs-sidebar {
	padding-left: 0;
	ul {
		list-style-type: none;
		margin-left: 0;
		li > a {
			color: $black;
			font-weight: 700;
			img.arrow-icon {
				margin-left: .75rem;
				max-height: 16px;
				-webkit-transition: all .2s ease-out;
		        -o-transition: all .2s ease-out;
		          transition: all .2s ease-out;
			}
			&:hover img.arrow-icon {
			
			  -webkit-transform:translateX(3px);
		      -ms-transform:translateX(3px);
		       -o-transform:translateX(3px);
		          transform:translateX(3px);
			}
		}

	}
}

.why-itinspired {
	background-color: $light-gray;
	display: flex;
	flex-wrap: wrap;
	padding: 3rem 0;
	font-size: 16pt;
	.why-iti-content {
		padding: 2rem 5rem;
    flex: 1 0 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: 40em) {
	      flex: 1 0 50%;
	      padding: 2rem;
	    }
	}
	.why-iti-img {
		align-self: center;
    	flex: 1 0 100%;
    	text-align: center;

	    img {
	      width: 50%;
	    }

	    @media screen and (min-width: 40em) {
	      flex: 1 0 50%;
	    }
	}
}



/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 3rem 0rem;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.article-header {
	padding: 15% 10% 10%;
	/* Medium and up */
	@media screen and (min-width: 40em) {
	margin-top: -165px;
	padding: 10% 10% 5%;
	}
	max-height: 900px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	.entry-content {
		color: white;
	}
	img {
		margin-bottom: 2rem;
	}
}

.single-article-header {
	padding: 5% 0;
	text-align: center;
	h1 {
		color: $primary-color;
	}
	p.byline {
		font-style: italic;
	}
}

.blog-archive {
	padding-top: 2rem;
	.article-header-feed {
		text-align: center;
		h5.title {
		text-transform: uppercase;
		font-weight: bold;
		color: $black;
		margin-top: 1rem;
			a {
				color: $black;
			}
		}
	}
}

.blog-archive-grid {
	// margin-top: 2rem;
	margin-bottom: 2rem;
}

.single-featured-img {
	margin-top: -100px;
	text-align: center;
}

h2.page-subtitle {
		color: white;
		font-family: 'roboto-slab';
		font-weight: 400;
		// font-size: 1.5rem;
		margin-bottom: 0;
	}
h1.page-title {
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 2rem;
		opacity: 0.6;
	}

.page-header {
	background-color: $primary-color;
	/* Medium and up */
	@media screen and (min-width: 40em) {
	margin-top: -165px;
	}
	max-height: 600px;
	padding: 15% 10% 10%;
}

#about-header {
	background: url('../images/about-header@2x.jpg');
}

#squad-header {
	background: url('../images/squad-2@2x.jpg');
}

#solutions-header {
	// background: url('../images/solutions-header@2x.jpg');
}

#blog-header {
	background: url('../images/blog@2x.jpg');
	background-size: cover;
	/* Medium and up */
	@media screen and (min-width: 40em) {
	margin-top: -165px;
	}
	max-height: 900px;
	padding: 10% 10% 5%;
	h2 {
		margin-top: 2rem;
		/* Medium and up */
		@media screen and (min-width: 40em) {
		margin-top: 5rem;
		}
	}
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	p.lead {
		color: $medium-gray;
		font-family: 'roboto-slab';
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

#blog-content {
	h5 {
		margin-bottom: .5em;
		color: $dark-gray;
	}
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

// Related Posts
#joints-related-posts {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.related-posts {
	text-align: center;
		h5.title {
		text-transform: uppercase;
		font-weight: bold;
		color: $black;
		margin-top: 1rem;
			a {
				color: $black;
			}
		}
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
			border-radius: 20px;
		}

	}
}



// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	height: 100%;
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	// margin-top: 1em;
	background-color: $black;
	color: $light-gray;
	padding-top: 2em;
	background: url('../images/footer-pattern.png');
	background-size: contain;
	text-align: center;
	/* Medium and up */
	@media screen and (min-width: 40em) {
		text-align: left;
	}


	.footer-logo {
		background: url('../images/footer-logo@2x.png') no-repeat;
		background-size: 15em;
		background-position: 50% 50%;
		// margin-left: -50px;
		min-height: 75px;
		margin-bottom: 1rem;
	    text-align: center;
	    /* Medium and up */
	@media screen and (min-width: 40em) {
		left: -30px;
	    position: relative;
	    background-position: left;
	}
	    
	}
	p.footer-contact {
		// padding-left: 50px;
	}
	// .float-right {
	// 	text-align: right;
	// 	display: block;
	// }
	.social-links {
		// text-align: right;
		@media screen and (min-width: 40em) {
		// float: right;
		}
		display: block;
		li {
			@media screen and (min-width: 40em) {
			float: right;
			}
			display: inline-block;
			margin: 0 auto;
		}
		img {
			// display: inline-block;
			margin-right: 1em;
			max-height: 22px; 
		}
	}
}

#inner-footer {
	padding-bottom: 2em;
}

#menu-footer, #menu-footer-menu {
	@media screen and (min-width: 40em) {
		// float: right;
		text-align: right;
		display: block;
	}
	padding-top: 2rem;
	padding-bottom: 2rem;
	li {
		@media screen and (min-width: 40em) {
			display: table-cell;
			float: right;
		}
		display: block;
	}
	
	a {
		font-weight: 700;
		text-transform: uppercase;
		color: $light-gray;
		letter-spacing: 1px;
		&:hover {
			color: $medium-gray;
		}
	}
	.active a {
		border-bottom: none;

	}
}

.footer-links {
	margin-bottom: 1rem;
}
/*********************
FOUNDATION STYLES
*********************/
a.accordion-title {
	border-radius: 0 0 0 0 !important;
	&:hover, &:focus {
		background-color: $white;
	}
	&:before {
    top: 50%;
    right: 50%;
    margin-top: 2.5rem;
    font-size: 1rem;
	}
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

// Contact Form 7
input::placeholder, textarea::placeholder {
    color: $black !important;
    font-style: italic;
}

textarea {
	border-radius: 20px;
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
	height: 3rem;
	padding: 0.5rem 1rem;
}

// MailChimp Form Styling
.mc4wp-form {
	margin-top: 2rem;
	input {
		display: inline-block;
		box-shadow: none;	
	}
	[type="email"] {
		border: 2px solid $primary-color;
		border-radius: 50px 0 0 50px;
		width: 50%;
		/* Medium and up */
		@media screen and (min-width: 40em) {
			width: 40%;
		}
		&:focus {
			box-shadow: none;
		}
	}
	.button {
		padding: 1.1em 2em;
		margin: 0;
		border-radius: 0 50px 50px 0;
		position: relative;
		left: -4px;
		top: -0.5px; 
	}
}

//Chatlio Style Overrides
.chatlio-message-body-text {
	color: $black;
}

// Job Manager Style Overrides
	h4.job-title {
		border-bottom: 2px solid $light-gray;
		padding-bottom: 2px;
	}
	div.job-field-details {
		margin-bottom: 2rem;
		h5 {
			margin-bottom: .5rem;
		}
	}
	.jobman_job {
		.button.hollow > a:hover, .button.hollow > a:focus {
			color: $white;
		}
		.button.hollow:hover, .button.hollow:focus {
			a {
				color: $white;
			}
		}
	}
	table tbody tr:nth-child(2n) {
		background-color: $white;
	}
	.button-primary {
		font-family: "karmina-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		background-color: $white;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
		cursor: pointer;
		padding: 1rem 1.5rem;
		border: 2px solid $primary-color;
		color: $primary-color;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		&:hover {
			background-color: $primary-color;
			color: $white;
		}
	}
